.fundedGrid__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

@media(max-width:1210px) {
    .fundedGrid__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

}

@media(max-width:800px) {
    .fundedGrid__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .fundedGrid__grid .swiperDiv {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .fundedGrid__grid .swiperCard {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

}

@media(max-width:566px) {
    .fundedGrid__grid .swiperDiv {
       height: 480px;
    }

    .fundedGrid__grid .swiperCard {
      height: 480px;
    }
    .fundedGrid__grid .divCard{
        height: 136px;
    }
    .fundedGrid__grid .swiperDiv span {
        margin-top: 204px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--text-icon-tertiary);
    
    }
    
    .fundedGrid__grid .swiperDiv h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 133%;
        letter-spacing: -0.02em;
        color: var(--base-white);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
   .fundedGrid__grid .swiperDiv h6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--text-icon-tertiary);
        margin-top: 8px;
        margin-bottom: 16px;
    }
    
  .fundedGrid__grid  .swiperDiv p {
        font-weight: 450;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--base-white);
        margin-bottom: 40px;
    }
    .fundedGrid__grid .swiperCard span {
        margin-top: 204px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--text-icon-tertiary);
    
    }
    
    .fundedGrid__grid .swiperCard h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 133%;
        letter-spacing: -0.02em;
        color: var(--base-white);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
   .fundedGrid__grid .swiperCard h6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--text-icon-tertiary);
        margin-top: 8px;
        margin-bottom: 16px;
    }
    
  .fundedGrid__grid  .swiperCard p {
        font-weight: 450;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--base-white);
        margin-bottom: 40px;
    }
    .fundedGrid__grid .swiper__content img {
        position: absolute;
        left: 30px;
        bottom: 10px;
        height: 32px;
    }
   .fundedGrid__grid .swiperCard img {
        position: absolute;
        left: 30px;
        bottom: 40px;
        height: 32px;        
    }
    .fundedGrid__grid .swiperDiv {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .fundedGrid__grid .swiperCard {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
}